<html>

  <head>
    <title> WordBucket App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>

<body>
  <div class="container">

     <h1>Search Word</h1>
        
       <h4><%= message %></h4>
       <form action ="/search/byword" id="form1" method="POST">  
           <input name="search_input" id="id_search" placeholder="Search the word" />  
       </form>
       <button type="submit" form="form1" value="Submit">Submit</button>

      <% if(word.length == 0){ %>
          <h4>Word not found</h4>
      <% } %>

       <table id="id_word_table">
            <% for( var i = word.length-5; i < word.length; i++){ %>
                <tr><td id="word.word"><a href="/word/<%= id[i] %>"><%= word[i] %></a></td></tr>
            <% } %>
        </table>
        <br><br><br>
        <a href="/">home</a>
        
      
</div>

</body>
</html>
